html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#p5_loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}